{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/fontawesome/css/all.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/timer.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/chat.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/circle_progress_bar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/negociationstyle.css') }}" type="text/css">
    {% block customstyle %}{% endblock %}
{% endblock %}

{% block title %}Negociation{% endblock %}
{% block curentSujet %}active{% endblock %}

{% block body %}

    {% block content %}
        <div  style="margin-left: 100px; margin-right: 350px;">
            {% if admin == false %}

            {% endif %}
            <a href="{{ path('FastFocus', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">FastFocus</button></a>
            <a href="{{ path('PinTheTailOntheDonkey', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">Pin-The-Tail-On-The-Donkey</button></a>
            <a href="{{ path('BroomWagon', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">BroomWagon</button></a>
            <a href="{{ path('ExpertChoice', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">ExpertChoice</button></a>
            <a href="{{ path('PopCornSort', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">PopCornSort</button></a>
            <a href="{{ path('StrawPoolh', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">StrawPoll</button></a>
            <a href="{{ path('MultiCriteria', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">MultiCriteria</button></a>
            <a href="{{ path('CheckMark', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">CheckMark</button></a>
            <a href="{{ path('BucketVote', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">BucketVote</button></a>
            <a href="{{ path('gdss_platform_sujet_vue', {'id':id}) }}"><button type="button" class="btn btn-outline-primary" id="stop">Retour</button></a>
        </div>

            <div id="contrib">

            </div>
    {% endblock %}

        {# Countdown #}

    {% block countdown %}
        <div style="position: fixed; margin-left: 1050px;" >
            <div class="wrap" style="border-left: 6px solid gray; height: 500px; position: fixed; margin-left: 1050px; margin-top: 100px"></div>
            <div class="wrap" style="position: fixed; margin-left: 1100px; margin-top: 100px">
                <h2>Temps restants</h2>
                <br/>
                <div class="countdown">
                    <div class="bloc-time hours" data-init-value="00">

                        <div class="figure hours hours-1">
                            <span class="top" style="">0</span>
                            <span class="top-back">
                            <span>0</span>
                        </span>
                            <span class="bottom" style="">0</span>
                            <span class="bottom-back">
                            <span>0</span>
                        </span>
                        </div>

                        <div class="figure hours hours-2">
                            <span class="top">0</span>
                            <span class="top-back">
                            <span>0</span>
                        </span>
                            <span class="bottom">0</span>
                            <span class="bottom-back">
                            <span>0</span>
                        </span>
                        </div>
                        <span class="count-title"><br/>Heures</span>

                    </div>

                    <div class="bloc-time min" data-init-value="0">

                        <div class="figure min min-1">
                            <span class="top">0</span>
                            <span class="top-back">
                            <span>0</span>
                        </span>
                            <span class="bottom">0</span>
                            <span class="bottom-back">
                            <span>0</span>
                        </span>
                        </div>

                        <div class="figure min min-2">
                            <span class="top">0</span>
                            <span class="top-back">
                            <span>0</span>
                        </span>
                            <span class="bottom">0</span>
                            <span class="bottom-back">
                            <span>0</span>
                        </span>
                        </div>
                        <span class="count-title">Minutes</span>
                    </div>

                    <div class="bloc-time sec" data-init-value="0">


                        <div class="figure sec sec-1">
                            <span class="top">0</span>
                            <span class="top-back">
                            <span>0</span>
                        </span>
                            <span class="bottom">0</span>
                            <span class="bottom-back">
                            <span>0</span>
                        </span>
                        </div>

                        <div class="figure sec sec-2">
                            <span class="top">0</span>
                            <span class="top-back">
                            <span>0</span>
                        </span>
                            <span class="bottom">0</span>
                            <span class="bottom-back">
                            <span>0</span>
                        </span>
                        </div>
                        <span class="count-title">Secondes</span>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
        <br/>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gdssplatform/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/jQuery-plugin-progressbar.js') }}"></script>
    <script src="{{ asset('bundles/gdssphases/js/TweenMax.min.js') }}"></script>
    {#<script src="{{ asset('build/js/app.js') }}"></script>#}
    <script>
        var hr = {{ hours }}
        var minu = {{ minutes }}
        var sec = {{ seconds }}
        var autorise = true;
    </script>
    <script src="{{ asset('bundles/gdssphases/js/timer.js') }}"></script>

    {% block customscrpits %}
    {% endblock %}
{% endblock %}