<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>


    {% block stylesheets_general %}
        <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/fontawesome/css/all.css') }}" type="text/css">
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/login-register.css') }}" type="text/css">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body style="background-color: whitesmoke">
    {% block hedears %}{% endblock %}

    {% block body %}{% endblock %}

    {% block footers %}{% endblock %}




    {% block scripts %}
        {% block javascripts %}
            <script src="{{ asset('bundles/gdssplatform/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('bundles/gdssplatform/js/bootstrap.min.js') }}"></script>
        {% endblock %}
            {% block modaldelete %}


                <script>
                    $(document).ready(function () {
                        let theHREF;

                        $(".confirmModalLink").click(function(e) {
                            e.preventDefault();
                            theHREF = $(this).attr("href");
                            $("#confirmModal").modal("show");
                        });

                        $("#confirmModalNo").click(function(e) {
                            $("#confirmModal").modal("hide");
                        });

                        $("#confirmModalYes").click(function(e) {
                            window.location.href = theHREF;
                        });
                    });

                </script>

                <div class="modal hide fade" id="confirmModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>Confirmation de la suppression</h3>
                            </div>
                            <div class="modal-body">
                                <p>{% block confirmmodal %}Etes-vous sûr de vouloir supprimer cet élément ?{% endblock %}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-danger" id="confirmModalNo">Non</a>
                                <a href="#" class="btn btn-success" id="confirmModalYes">Oui</a>
                            </div>
                        </div>
                    </div>
                </div>


            {% endblock %}
    {% endblock %}

</body>
</html>
