{% extends '@GDSSPhases/phases_view/Negociation_ThinkLet/negocitation.html.twig' %}

{% block title %}ExpertChoice - Categorizer{% endblock %}

{% block subtitle %}
    <h1 class="text-center">
        <a href="{{ path('ExpertChoice', {'id' : backid}) }}">
            <i class="fas fa-arrow-left"></i>
        </a> Négociation : ExpertChoice - {% if expert %}Categorizer {% else %}Categorie{% endif %} ({{ categorie.name }})
    </h1>
{% endblock %}

{% block help %}


    {% if finish == false %}
            {% if expert %}
                <p>
                    Deplacez les contributions dans cette catégorie.
                </p>
            {% else %}
                <p>
                    La liste des contributions catégorisées par <strong>{{ makerexpert.pseudoMaker }}.</strong>
                </p>
            {% endif %}
    {% else %}
        <p>
            La phase une de l'étape de négociation et confrontation des points de vue est terminée.
            Revenez à la page de présentation pour sujet pour commencer la phase deux.
        </p>
    {% endif %}


{% endblock %}

{% block content %}
    <div class="alert0"></div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#categoriser">CONTRIBUTIONS CATEGORISEES</a>
            </li>
            {% if expert %}
                {% if finish == false %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#noncategoriser">CONTRIBUTION NON CATEGORISEES</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>

        {#--------------------------------------TAB CATEGORISER----------------------------------------------------#}

        <div id="myTabContent" class="tab-content">
            <br/>
            {#--------------------------------------EXPERT MODE----------------------------------------------------#}

            {% if expert %}
                {% if finish == false %}
                    <div class="tab-pane fade show active" id="categoriser">
                        <form method="post" href="#">
                                <div class="form-group">
                                    {% for ctcat in contributioncat %}
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck{{ ctcat.id }}" name="{{ ctcat.id }}" value="{{ ctcat.id }}">
                                            <label class="custom-control-label" for="customCheck{{ ctcat.id }}">
                                                <ul id="comments-list" class="comments-list" style="margin-left: 20px">
                                                    <li>
                                                        <div class="comment-main-level">
                                                            <div class="comment-box">
                                                                <div class="comment-head">
                                                                    <h6 class="comment-name by-author">{{ ctcat.pseudo }}</h6>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>{{ ctcat.contribution }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                {% set coll = false %}
                                                {% for cmt in comment %}
                                                    {% if cmt.contribution == ctcat %}
                                                        {% set coll = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if coll == true %}
                                                    <a class="fas" style="margin-left: 20px" data-toggle="collapse" href="#catego{{ ctcat.id }}" role="button" aria-expanded="false" aria-controls="like{{ ctcat.id }}"></a>
                                                {% endif %}

                                                <div class="collapse" id="catego{{ ctcat.id }}">
                                                    <ul class="timeline">
                                                        {% for cmt in comment %}
                                                            {% if cmt.contribution == ctcat %}
                                                                <li>
                                                                    <ul class="comments-list reply-list">
                                                                        <li>
                                                                            <!-- Contenedor del Comentario -->
                                                                            <div class="comment-box">
                                                                                <div class="comment-head">
                                                                                    <h6 class="comment-name by-author">{{ cmt.pseudo }}</h6>
                                                                                </div>
                                                                                <div class="comment-content">
                                                                                    {{ cmt.comment }}
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>

                                                <br/><br/>
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <div class="form-inline">
                                        <div class="col-sm-11">
                                            {% if contributioncat %}
                                                <input type="submit" value="Décatégoriser" class="btn btn-warning" name="Décatégoriser" id="checkBtn">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        <br/><br/>
                    </div>
                    <div class="tab-pane fade" id="noncategoriser">
                            <br/>

                            <form method="post" href="#">
                                <div class="form-group">
                                    {% for ct in contribution %}
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck{{ ct.id }}" name="{{ ct.id }}" value="{{ ct.id }}">
                                            <label class="custom-control-label" for="customCheck{{ ct.id }}">
                                                <ul id="comments-list" class="comments-list" style="margin-left: 20px">
                                                    <li>
                                                        <div class="comment-main-level">
                                                            <div class="comment-box">
                                                                <div class="comment-head">
                                                                    <h6 class="comment-name by-author">{{ ct.pseudo }}</h6>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>{{ ct.contribution }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                                {% set coll = false %}
                                                {% for cmt in comment %}
                                                    {% if cmt.contribution == ct %}
                                                        {% set coll = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if coll == true %}
                                                    <a class="fas" style="margin-left: 20px" data-toggle="collapse" href="#noncatego{{ ct.id }}" role="button" aria-expanded="false" aria-controls="like{{ ct.id }}"></a>
                                                {% endif %}

                                                <div class="collapse" id="noncatego{{ ct.id }}">

                                                    <ul class="timeline">
                                                        {% for cmt in comment %}
                                                            {% if cmt.contribution == ct %}
                                                                <li>
                                                                    <ul class="comments-list reply-list">
                                                                        <li>
                                                                            <!-- Contenedor del Comentario -->
                                                                            <div class="comment-box">
                                                                                <div class="comment-head">
                                                                                    <h6 class="comment-name by-author">{{ cmt.pseudo }}</h6>
                                                                                </div>
                                                                                <div class="comment-content">
                                                                                    {{ cmt.comment }}
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>

                                                </div>

                                                <br/><br/>
                                            </label>
                                        </div>
                                    {% endfor %}
                                    <div class="form-inline">
                                        {% if contribution %}
                                            <div class="col-sm-11">
                                                <input type="submit" value="Catégoriser" class="btn btn-warning" name="Catégoriser" id="checkBtn2">
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>

                            <br/><br/>
                    </div>
                {% else %}
                    <div class="tab-pane fade show active" id="categoriser">
                        <div class="">
                            {% for ctcat in contributioncat %}

                                <ul id="comments-list" class="comments-list" style="margin-left: 20px">
                                    <li>
                                        <div class="comment-main-level">
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name by-author">{{ ctcat.pseudo }}</h6>
                                                </div>
                                                <div class="comment-content">
                                                    <p>{{ ctcat.contribution }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                {% set coll = false %}
                                {% for cmt in comment %}
                                    {% if cmt.contribution == ctcat %}
                                        {% set coll = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if coll == true %}
                                    <a class="fas" style="margin-left: 20px" data-toggle="collapse" href="#catego{{ ctcat.id }}" role="button" aria-expanded="false" aria-controls="like{{ ctcat.id }}"></a>
                                {% endif %}

                                <div class="collapse" id="catego{{ ctcat.id }}">
                                    <ul class="timeline">
                                        {% for cmt in comment %}
                                            {% if cmt.contribution == ctcat %}
                                                <li>
                                                    <ul class="comments-list reply-list">
                                                        <li>
                                                            <!-- Contenedor del Comentario -->
                                                            <div class="comment-box">
                                                                <div class="comment-head">
                                                                    <h6 class="comment-name by-author">{{ cmt.pseudo }}</h6>
                                                                </div>
                                                                <div class="comment-content">
                                                                    {{ cmt.comment }}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {#---------------------------------------NOT EXPERT----------------------------------------------------#}

            {% else %}
                <div class="tab-pane fade show active" id="categoriser">
                    <div class="">
                            {% for ctcat in contributioncat %}

                                <ul id="comments-list" class="comments-list" style="margin-left: 20px">
                                    <li>
                                        <div class="comment-main-level">
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name by-author">{{ ctcat.pseudo }}</h6>
                                                </div>
                                                <div class="comment-content">
                                                    <p>{{ ctcat.contribution }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                {% set coll = false %}
                                {% for cmt in comment %}
                                    {% if cmt.contribution == ctcat %}
                                        {% set coll = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if coll == true %}
                                    <a class="fas" style="margin-left: 20px" data-toggle="collapse" href="#catego{{ ctcat.id }}" role="button" aria-expanded="false" aria-controls="like{{ ctcat.id }}"></a>
                                {% endif %}

                                <div class="collapse" id="catego{{ ctcat.id }}">
                                    <ul class="timeline">
                                        {% for cmt in comment %}
                                            {% if cmt.contribution == ctcat %}
                                                <li>
                                                    <ul class="comments-list reply-list">
                                                        <li>
                                                            <!-- Contenedor del Comentario -->
                                                            <div class="comment-box">
                                                                <div class="comment-head">
                                                                    <h6 class="comment-name by-author">{{ cmt.pseudo }}</h6>
                                                                </div>
                                                                <div class="comment-content">
                                                                    {{ cmt.comment }}
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                </div>

            {% endif %}
            <br/><br/>
        </div>

    </div>
{% endblock %}

{% block customscrpits %}
    <script>
        let step = "ExpertChoice - Categorizer";
        let id = {{ id }};
        {% if expert == false %}
            setTimeout(function () {
                window.location = window.location.pathname;
            }, 60000);
        {% endif %}
        $(document).ready(function () {
            $('#checkBtn').click(function() {
                checked = $("input[type=checkbox]:checked").length;

                if(!checked) {
                    $(function() {
                        $(".alert0").notify("Aucun décideur séléctionner !");
                    });
                    return false;
                }

            });
            $('#checkBtn2').click(function() {
                checked2 = $("input[type=checkbox]:checked").length;

                if(!checked2) {
                    $(function() {
                        $(".alert0").notify("Aucun décideur séléctionner !");
                    });
                    return false;
                }

            });
        });
    </script>
{% endblock %}