{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}

{% block title %}{{ process.nom }}{% endblock %}
{% block curentSujet %}active{% endblock %}
{% block body %}
    <div class="container">
        <h2>Processus {{ process.nom }}</h2><hr/>

        <h4>Description</h4>
        <div class="card">
            <div class="card-body">
                {{ process.description }}
            </div>
        </div>
        <br/>
        <h4>Durée minimale</h4>
        <div class="card">
            <div class="card-body">
                {% if joursmin %}
                    {{ joursmin }} Jour(s)
                {% elseif heuremin %}
                    {{ heuremin }} Heure(s)
                {% elseif minutemin %}
                    {{ minutemin }} Minute(s)
                {% endif %}
            </div>
        </div>
        <br/>
        <h4>Durée maximale</h4>
        <div class="card">
            <div class="card-body">
                {% if joursmax %}
                    {{ joursmax }} Jour(s)
                {% elseif heuremax %}
                    {{ heuremax }} Heure(s)
                {% elseif minutesmax %}
                    {{ minutesmax }} Minute(s)
                {% endif %}
            </div>
        </div>
        <br/>
        <h4>Nombre de participants maximale</h4>
        <div class="card">
            <div class="card-body">
                {{ process.nombreDeParticipantsMaximum }}
            </div>
        </div>
        <br/>
        <h4>Nombre de participants minimum</h4>
        <div class="card">
            <div class="card-body">
                {{ process.nombreDeParticipantsMinimum }}
            </div>
        </div>

        <nav class="navbar navbar-expand-lg">
            <a href="{{ path('gdss_platform_sujet_vue', {'id' : id}) }}"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Retour</button></a>
        </nav>
    </div>
{% endblock %}