{% extends '@GDSSPhases/phases_view/Negociation_ThinkLet/negocitation.html.twig' %}

{% block title %}CrowBar{% endblock %}

{% block customstyle %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/rating.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/morris.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div style="margin-right: 25%; margin-left: 5%">
        <h1 style="text-decoration-style: double;"><a href="{{ path('negociation', {'id' : id}) }}"><i class="fas fa-arrow-left"></i></a> CrowBar</h1>



        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#contributions">CONTRIBUTIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#strawpoll">RESULTAT DU STRAWPOLL</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="contributions">
                <br/>
                {% if admin %}
                    <form method="post" href="#">
                        <div class="form-group">
                            {% for ctcat in contribution %}
                                <div class="form-group col-sm-12">
                                    <div>
                                        <i class="outgoing_msg">
                                            <i class="sent_msg" style="float: none">
                                                <p><span>{{ ctcat.pseudo }}<br/></span> {{ ctcat.contribution }} </p>
                                            </i>
                                        </i>

                                        {#
                                         <div class="rating">
                                            <input type="radio" name="star{{ ctcat.id }}" id="star1{{ ctcat.id }}" value="5">
                                            <label for="star1{{ ctcat.id }}"></label>
                                            <input type="radio" name="star{{ ctcat.id }}" id="star2{{ ctcat.id }}" value="4">
                                            <label for="star2{{ ctcat.id }}"></label>
                                            <input type="radio" name="star{{ ctcat.id }}" id="star3{{ ctcat.id }}" value="3">
                                            <label for="star3{{ ctcat.id }}"></label>
                                            <input type="radio" name="star{{ ctcat.id }}" id="star4{{ ctcat.id }}" value="2">
                                            <label for="star4{{ ctcat.id }}"></label>
                                            <input type="radio" name="star{{ ctcat.id }}" id="star5{{ ctcat.id }}" value="1">
                                            <label for="star5{{ ctcat.id }}"></label>
                                        </div>
                                        #}


                                        <br/>
                                        {% set coll = false %}
                                        {% for cmt in comment %}
                                            {% if cmt.contribution == ctcat %}
                                                {% set coll = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if coll == true %}
                                            <a class="fas fa-plus-circle" data-toggle="collapse" href="#collanot{{ ctcat.id }}" role="button" aria-expanded="false" aria-controls="like{{ ctcat.id }}"></a>
                                        {% endif %}
                                        <div class="collapse" id="collanot{{ ctcat.id }}">
                                            {% for cmt in comment %}
                                                {% if cmt.contribution == ctcat %}
                                                    <i class="incoming_msg" style="margin-left: 50px">
                                                        <i class="received_msg">
                                                            <i class="received_withd_msg">
                                                                <p><span>{{ cmt.pseudo }}</span><br/>{{ cmt.comment }}</p>
                                                            </i>
                                                        </i>
                                                    </i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <br/>
                                </div>
                                {#
                                    <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck{{ ctcat.id }}" name="{{ ctcat.id }}" value="{{ ctcat.id }}">
                                    <label class="custom-control-label" for="">

                                    </label>
                                </div>
                                #}

                            {% endfor %}
                            <div class="form-inline">
                                <div class="col-sm-11">

                                    <input type="submit" value="Votez" class="btn btn-warning" name="Evaluer">

                                </div>
                            </div>
                        </div>
                    </form>

                {% else %}
                    {% for ct in contribution %}
                        <div style="margin-right: 20%; margin-left: 10%">
                            <div>
                                <i class="outgoing_msg">
                                    <i class="sent_msg" style="float: none">
                                        <p><span>{{ ct.pseudo }}<br/></span> {{ ct.contribution }} </p>
                                    </i>
                                </i>
                            </div>

                            {% set coll = false %}
                            {% for cmt in comment %}
                                {% if cmt.contribution == ct %}
                                    {% set coll = true %}
                                {% endif %}
                            {% endfor %}
                            {% if coll == true %}
                                <a class="fas fa-plus-circle" data-toggle="collapse" href="#noncatego{{ ct.id }}" role="button" aria-expanded="false" aria-controls="like{{ ct.id }}"></a>
                            {% endif %}

                            <div class="collapse" id="noncatego{{ ct.id }}">
                                {% for cmt in comment %}
                                    {% if cmt.contribution == ct %}
                                        <div class="incoming_msg" style="margin-left: 50px; margin-bottom: 8px">
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <p><span>{{ cmt.pseudo }}</span><br/>{{ cmt.comment }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <br/><br/>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="strawpoll">
                <canvas id="myChart"></canvas>
            </div>

        </div>


        <br/><br/>

    </div>


{% endblock %}

{% block customscrpits %}
    <script src="{{ asset('bundles/gdssphases/js/Chart.min.js') }}"></script>
    <script>

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: [
                    {% for contrib in contributionchart %}
                    "{{ contrib.contribution }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: "Vote",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% for contrib in contributionchart %}
                        {{ contrib.liked }},
                        {% endfor %}
                    ],
                }]
            },

            // Configuration options go here
            options: {
                legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                }
            }
        });


    </script>
{% endblock %}