{% extends '@GDSSPlatform/Sujets_Basic_View/addSujet.html.twig' %}
{% block title %}Definition des phases{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/footers.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/datetimepicker.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/add_sujet.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/fontawesome/css/all.css') }}">
{% endblock %}

{% block contenu_title %}
    <h2 style="text-align: center">Definition des phases</h2>
{% endblock %}

{% block active0 %}disabled{% endblock %}
{% block active3 %}active{% endblock %}

{% block contenu %}
    <div class="container">
        <div style="">
            <br/>
            <br/>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                <h3>Comprehension collective du problème</h3>

                {# Compréhension collective du problème. #}
                <div class="form-group">
                    {{ form_label(form.DateDebut1, "Date de début", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.DateDebut1) }}
                    <div class="col-sm-3">
                        {{ form_widget(form.DateDebut1, { 'attr': {'data-field': 'datetime'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.Duree1min, "Durée minimale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.Duree1min) }}
                    <div class="row" style="margin-left: 0px">
                        <div class="col-sm-1 col">
                            {{ form_widget(form.Duree1min) }}
                        </div>
                        <div class="col-sm-2 col">
                            {{ form_widget(form.Periode1min) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.Duree1max, "Durée maximale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.Duree1max) }}
                    <div class="row" style="margin-left: 0px">
                        <div class="col-sm-1 col">
                            {{ form_widget(form.Duree1max) }}
                        </div>
                        <div class="col-sm-2 col">
                            {{ form_widget(form.Periode1max) }}
                        </div>
                    </div>
                </div>

                <br/>

                {# Phase de Generation #}

                <h3>Génération</h3>
                <div class="form-group">
                    {{ form_label(form.DateDebut2, "Date de début", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.DateDebut2) }}
                    <div class="col-sm-3">
                        {{ form_widget(form.DateDebut2, { 'attr': {'data-field': 'datetime'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.Duree2min, "Durée minimale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.Duree2min) }}
                    <div class="row" style="margin-left: 0px">
                        <div class="col-sm-1 col">
                            {{ form_widget(form.Duree2min) }}
                        </div>
                        <div class="col-sm-2 col">
                            {{ form_widget(form.Periode2min) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.Duree2max, "Durée maximale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {{ form_errors(form.Duree2max) }}
                    <div class="row" style="margin-left: 0px">
                        <div class="col-sm-1 col">
                            {{ form_widget(form.Duree2max) }}
                        </div>
                        <div class="col-sm-2 col">
                            {{ form_widget(form.Periode2max) }}
                        </div>
                    </div>
                </div>

            <br/>

            {# Phase de negociation #}
            <h3>Négociation</h3>
            <div class="form-group">
                {{ form_label(form.DateDebut3, "Date de début", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.DateDebut3) }}
                <div class="col-sm-3">
                    {{ form_widget(form.DateDebut3, { 'attr': {'data-field': 'datetime'} }) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.Duree3min, "Durée minimale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.Duree3min) }}
                <div class="row" style="margin-left: 0px">
                    <div class="col-sm-1 col">
                        {{ form_widget(form.Duree3min) }}
                    </div>
                    <div class="col-sm-2 col">
                        {{ form_widget(form.Periode3min) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.Duree3max, "Durée maximale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.Duree3max) }}
                <div class="row" style="margin-left: 0px">
                    <div class="col-sm-1 col">
                        {{ form_widget(form.Duree3max) }}
                    </div>
                    <div class="col-sm-2 col">
                        {{ form_widget(form.Periode3max) }}
                    </div>
                </div>
            </div>

            <br/>

            <h3>Décision</h3>
            <div class="form-group">
                {{ form_label(form.DateDecision, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.DateDecision) }}
                <div class="col-sm-3">
                    {{ form_widget(form.DateDecision, { 'attr': {'data-field': 'datetime'} }) }}
                </div>
            </div>

            <br/>
                {{ form_widget(form.Terminer, {'attr': {'class': 'btn linkstyle'}}) }}
                <button type="button" class="btn btn-info" id="infobulle">Info</button>
                <span id="affiche"></span>
            {{ form_end(form) }}
        </div>
    </div>

    <div id="dtBox"></div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/gdssplatform/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            $("#dtBox").DateTimePicker();

            {% if erreur is defined %}
            alert("{{ erreur }}");
            {% endif %}

            $("#infobulle").click(function() {
                alert("Date de debut du sujet : {{ sujet.dateDebut|date('d/m/y') }} \n Date de fin du sujet : {{ sujet.dateFin|date('d/m/y') }}");
            });
        });
    </script>
{% endblock %}