{% extends '@GDSSPhases/phases_view/Negociation_ThinkLet/negocitation.html.twig' %}

{% block title %}PinTheTailOnTheDonkey - Annoter{% endblock %}

{% block customstyle %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/rating.css') }}" type="text/css">
{% endblock %}


{% block content %}

    <div style="margin-right: 25%; margin-left: 5%">
        <h1 style="text-decoration-style: double; margin-left: -15%"><a href="{{ path('PinTheTailOntheDonkey', {'id' : backid}) }}"><i class="fas fa-arrow-left"></i></a> PTTOTDonkey - Annotation ({{ categorie.name }})</h1>

        <ul class="nav nav-tabs">
            {% if alreadyselect != true %}
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#annoter">ANNOTER</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link {% if alreadyselect %}active show{% endif %}" data-toggle="tab" href="#annotationlist">VOTE</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            {% if alreadyselect != true %}
            <div class="tab-pane fade show active" id="annoter">
                <br/>

                <form method="post" href="#">
                    <div class="form-group">
                        {% for ctcat in contributioncat %}
                            <div class="form-group col-sm-12">
                                <div>
                                    <i class="outgoing_msg">
                                        <i class="sent_msg" style="float: none">
                                            <p><span>{{ ctcat.pseudo }}<br/></span> {{ ctcat.contribution }} </p>
                                        </i>
                                    </i>
                                    {% set coll = false %}
                                    {% for cmt in comment %}
                                        {% if cmt.contribution == ctcat %}
                                            {% set coll = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if coll == true %}
                                        <a class="fas fa-plus-circle" data-toggle="collapse" href="#collanot{{ ctcat.id }}" role="button" aria-expanded="false" aria-controls="like{{ ctcat.id }}"></a>
                                    {% endif %}
                                    <div class="collapse" id="collanot{{ ctcat.id }}">
                                        {% for cmt in comment %}
                                            {% if cmt.contribution == ctcat %}
                                                <i class="incoming_msg" style="margin-left: 50px">
                                                    <i class="received_msg">
                                                        <i class="received_withd_msg">
                                                            <p><span>{{ cmt.pseudo }}</span><br/>{{ cmt.comment }}</p>
                                                        </i>
                                                    </i>
                                                </i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="rating">
                                    <input type="radio" name="star{{ ctcat.id }}" id="star1{{ ctcat.id }}" value="5">
                                    <label for="star1{{ ctcat.id }}"></label>
                                    <input type="radio" name="star{{ ctcat.id }}" id="star2{{ ctcat.id }}" value="4">
                                    <label for="star2{{ ctcat.id }}"></label>
                                    <input type="radio" name="star{{ ctcat.id }}" id="star3{{ ctcat.id }}" value="3">
                                    <label for="star3{{ ctcat.id }}"></label>
                                    <input type="radio" name="star{{ ctcat.id }}" id="star4{{ ctcat.id }}" value="2">
                                    <label for="star4{{ ctcat.id }}"></label>
                                    <input type="radio" name="star{{ ctcat.id }}" id="star5{{ ctcat.id }}" value="1">
                                    <label for="star5{{ ctcat.id }}"></label>

                                </div>

                                <br/>
                            </div>
                            {#
                                <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck{{ ctcat.id }}" name="{{ ctcat.id }}" value="{{ ctcat.id }}">
                                <label class="custom-control-label" for="">

                                </label>
                            </div>
                            #}

                        {% endfor %}
                        <div class="form-inline">
                            <div class="col-sm-11">
                                {% if contributioncat %}
                                    <input type="submit" value="Votez" class="btn btn-warning" name="Votez">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>

                <br/><br/>
            </div>
            {% endif %}
            <div class="tab-pane fade {% if alreadyselect == true %}show active{% endif %}" id="annotationlist">
                <br/>
                {% for ctcat in contributioncat %}
                    <div>
                        <i class="outgoing_msg">
                            <i class="sent_msg" style="float: none">
                                <p><span>{{ ctcat.pseudo }}<br/></span> {{ ctcat.contribution }} </p>
                            </i>
                        </i>
                        {% set coll = false %}
                        {% for cmt in comment %}
                            {% if cmt.contribution == ctcat %}
                                {% set coll = true %}
                            {% endif %}
                        {% endfor %}
                        {% if coll == true %}
                            <a class="fas fa-plus-circle" data-toggle="collapse" href="#coll{{ ctcat.id }}" role="button" aria-expanded="false" aria-controls="like{{ ctcat.id }}"></a>
                        {% endif %}

                        <div class="collapse" id="coll{{ ctcat.id }}">
                            {% for cmt in comment %}
                                {% if cmt.contribution == ctcat %}
                                    <i class="incoming_msg" style="margin-left: 50px">
                                        <i class="received_msg">
                                            <i class="received_withd_msg">
                                                <p><span>{{ cmt.pseudo }}</span><br/>{{ cmt.comment }}</p>
                                            </i>
                                        </i>
                                    </i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p>Vote ({{ ctcat.liked }})</p>
                    </div>

                {% endfor %}
                <br/><br/>
            </div>
        </div>

        <br/><br/>
    </div>
{% endblock %}

{% block customscrpits %}
    {% if error is defined %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}
{% endblock %}