{% extends '@GDSSPhases/phases_view/Generation_ThinkLet/generation.html.twig' %}


{% block title %}FreeBrainstorming{% endblock %}
{% block curentSujet %}active{% endblock %}

{% block subtitle %}
    <h1 style="text-decoration-style: double;" class="text-center"><a class="fas fa-arrow-left" href="{{ path('problem', {'id' : id}) }}"> </a> FreeBrainstorming</h1>
{% endblock %}

{% block help %}
    {% if admin %}
        {% if finish %}
            <p> L'étape de génération est à present terminé. Si vouz jugez que le nombre de commentaires générés est assez important et nécessite plus d’élaboration cliquer sur "ELABORER". Sinon revenez à la page de présentation du problème et lancez la phase suivante</p>
        {% else %}
            <p> Les decideurs contribuent et commentent celles des autres. Ré-actuallisez la page à la fin du compte à rebour !</p>
        {% endif %}
    {% else %}
        <p> Vous pouvez contribuer en donnant des propositions, soit commenter les propositions des autres décideurs</p>
    {% endif %}
{% endblock %}

{% block content %}
    {% if finish %}
        <div class="container">
            <h2>Liste des contributions générés par les décideurs</h2>
            {% for contrib in contribution %}
                <br/>
                <ul id="comments-list" class="comments-list">
                    <li>
                        <div class="comment-main-level">
                            <!-- Contenedor del Comentario -->
                            <div class="comment-box">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author">{{ contrib.Pseudo }}</h6>
                                </div>
                                <div class="comment-content">
                                    {{ contrib.contribution }}
                                </div>
                            </div>
                        </div>

                        <div class="divcomment{{ contrib.id }}">
                            {% if comment %}
                                {% for cmt in comment %}
                                    {% if cmt.contribution == contrib %}
                                        <ul class="comments-list reply-list">
                                            <li>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head-reply">
                                                        <h6 class="comment-name by-author">{{ cmt.pseudo }}</h6>
                                                    </div>
                                                    <div class="comment-content">
                                                        {{ cmt.comment }}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- Fin boucle secondaire -->
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!------------------------------------>
                    </li>
                </ul>

            {% endfor %}
            <br/>
                {% if admin %}
                    <a href="{{ path('thelobbyist', {'id' : id }) }}"><button class="btn linkstyle">ELABORER</button></a>
                {% endif %}
            <br/><br/>
        </div>
    {% else %}
        <div  style="margin-left: 100px; margin-right: 350px;">

            {% if admin == false %}
                <a href="{{ path('freebrainstorming_contribution', {'id': id }) }}" id="essaie"><button type="button" class="btn btn-outline-primary">Contribuer</button></a>
                <a href="{{ path('freebrainstorming_comment', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">Commenter</button></a>
            {% endif %}

        </div>

        <br/>
    {% endif %}

{% endblock %}

{% block customscrpits %}
    {% if finish %}
        {% if admin == false %}
            <script>
                let id = {{ id }};
                let y = setInterval(function(){
                    $.ajax({
                        url:"http://www.projetgdss.com/app_dev.php/check_thelobbyist/"+id,
                        type:"POST",
                        data: {id : id},
                        dataType: 'JSON',
                    });
                }, 10000);
            </script>
        {% endif %}
    {% endif %}
{% endblock%}
