{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/footers.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/circle_progress_bar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/send_invitation.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/fontawesome/css/all.css') }}" type="text/css">

{% endblock %}

{% block title %}{{ subjectView.titre }}{% endblock %}
{% block curentSujet %}active{% endblock %}
{% block body %}
    <div class="container">

      {# INFORMATION DU SUJETS #}
        <div style="border: 1px solid ; border-radius: 10px; background-color: white; min-height: 375px">
            <div style="margin: 10px">
                <div class="row">
                    <h2 class="col-sm-11">{{ subjectView.titre }}   {% if subjectView.dateFin < now %}
                            <span class="badge badge-success">Terminer</span>
                        {% elseif subjectView.dateDebut < now  %}
                            <span class="badge badge-primary">En cours</span>
                        {% else %}
                            <span class="badge badge-warning">Attente</span>
                        {% endif %}
                    </h2>
                    {% if admin %}
                        <h2><a class="col-sm-1" href="{{ path('edit_sujet', {'id' : subjectView.id}) }}"><i class="fas fa-edit"></i></a></h2>
                    {% endif %}
                </div>


                <hr/>
                <h4>But : {{ subjectView.but }}</h4>
                <br/>
                <h4>Contexte :</h4>
                <div class="progress-bar1" data-percent="{{ progress }}" data-duration="1000" data-color="#ced4da,#049dff" style="float: right; margin-right: 250px; margin-top: -40px"></div>
                <p style="margin-right: 400px ">{{ subjectView.contexte }}</p>

                {% if critere %}
                    <br/>
                    <h4>Critères :</h4>
                    {% for list in critere %}
                        <h6 style="margin-left: 10px;">
                            <img style="width: 24px" src="{{ asset('bundles/gdssplatform/icons/ic_my_location_24px.svg') }}"> {{ list.description }}
                        </h6>
                    {% endfor %}
                {% endif %}
                {% if contrainte %}
                    <br/>
                    <h4>Contrainte :</h4>
                    {% for list1 in contrainte %}
                        <h6 style="margin-left: 10px;">
                            <img style="width: 24px" src="{{ asset('bundles/gdssplatform/icons/ic_my_location_24px.svg') }}"> {{ list1.description }}
                        </h6>
                    {% endfor %}
                {% endif %}

            </div>
        </div>

      {# FIN DE DES INFORMATIONS#}

        <br/><br/>

      {# NAVIGATION TOGGLE #}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#phase">PHASES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#decideurs">DECIDEURS</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="phase">
                <br/>
                <div>

                  {# AFFICHAGE DES PHASES S'ILS SONT DEFINIES #}

                    {% if defined %}
                    <table class="table table-hover">
                        <thead>
                            <tr class="">
                                <th>Nom</th>
                                <th>Durée</th>
                                <th>Date de début</th>
                                <th>Statut</th>
                                <th>Progression</th>
                                <th></th>
                                {% if subjectView.dateFin > now %}
                                    <th></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                              {# PHASE DE COMPREHENSION COLLECTIVE DU PROBLEME #}

                                <td>Compréhension collective du probème</td>
                                <td>{{ Comp.dureemin }}
                                    {% if Comp.periodemin == 60 %}
                                        min
                                    {% elseif Comp.periodemin == 3600 %}
                                        hr
                                    {% else %}
                                       jr
                                    {% endif %} -
                                    {{ Comp.dureemax }}
                                    {% if Comp.periodemax == 60 %}
                                        min
                                    {% elseif Comp.periodemax == 3600 %}
                                        hr
                                    {% else %}
                                        jr
                                    {% endif %}
                                </td>
                                <td>{{ Comp.dateDebut|date('d/m/y H:i') }}</td>
                                <td><span
                                      {% if now > Comp.dateFin%}
                                          class="badge badge-danger">Terminer
                                      {% elseif now > Comp.dateDebut%}
                                         class="badge badge-success">En cours
                                      {% else %}
                                            class="badge badge-warning">En attente
                                      {% endif %}
                                     </span></td>
                                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ progressComp }}%" aria-valuenow="{{ progressComp }}" aria-valuemin="0" aria-valuemax="100"></div></div></td>
                                <td><a href="{{ path('phase_comprehension_vue', {'id':id}) }}"
                                        class="badge badge-info"> Voir
                                     </a>
                                </td>
                                {% if admin %}
                                    {% if subjectView.dateFin > now %}
                                        <td><a href="{{ path('generation', {'id':id}) }}"
                                               class="badge badge-warning"> Modifier
                                            </a>
                                        </td>
                                    {% endif %}

                                {% endif %}

                              {# FIN DE LA VUE POUR LA COMP COLLECTIVE DU PROBLEME#}

                            </tr>
                            <tr>

                              {# PHASES DE GENERATIONS DES SOLUTIONS #}

                                <td>Génération des solutions</td>
                                <td>{{ Gene.dureemin }}
                                    {% if Gene.periodemin == 60 %}
                                        min
                                    {% elseif Gene.periodemin == 3600 %}
                                        hr
                                    {% else %}
                                        jr
                                    {% endif %} -
                                    {{ Gene.dureemax }}
                                    {% if Gene.periodemax == 60 %}
                                        min
                                    {% elseif Gene.periodemax == 3600 %}
                                        hr
                                    {% else %}
                                        jr
                                    {% endif %}
                                </td>
                                <td>{{ Gene.dateDebut|date('d/m/y H:i') }}</td>
                                <td><span
                                      {% if now > Gene.dateFin%}
                                          class="badge badge-danger">Terminer
                                      {% elseif now > Gene.dateDebut%}
                                         class="badge badge-success">En cours
                                        {% else %}
                                            class="badge badge-warning">En attente
                                      {% endif %}
                                     </span>
                                </td>
                                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ progressGene }}%" aria-valuenow="{{ progressGene }}" aria-valuemin="0" aria-valuemax="100"></div></div></td>
                                <td><a href="{{ path('generation', {'id':id}) }}"
                                        class="badge badge-info"> Voir
                                     </a>
                                </td>
                                {% if admin %}
                                    {% if subjectView.dateFin > now %}
                                        <td><a href="{{ path('generation', {'id':id}) }}"
                                               class="badge badge-warning"> Modifier
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endif %}

                            {# FIN DE LA VUE DE LA PHASE DE GENERATIONS DES SOLUTIONS #}

                            </tr>
                            <tr>

                              {# PHASE DE NEGOTIATIONS #}

                                <td>Négociation</td>
                                <td>{{ Nego.dureemin }}
                                    {% if Nego.periodemin == 60 %}
                                        min
                                    {% elseif Nego.periodemin == 3600 %}
                                        hr
                                    {% else %}
                                        jr
                                    {% endif %} -
                                    {{ Nego.dureemax }}
                                    {% if Nego.periodemax == 60 %}
                                        min
                                    {% elseif Nego.periodemax == 3600 %}
                                        hr
                                    {% else %}
                                        jr
                                    {% endif %}
                                </td>
                                <td>{{ Nego.dateDebut|date('d/m/y H:i') }}</td>
                                <td><span
                                      {% if now > Nego.dateFin%}
                                          class="badge badge-danger">Terminer
                                      {% elseif now > Nego.dateDebut%}
                                         class="badge badge-success">En cours
                                      {% else %}
                                            class="badge badge-warning">En attente
                                      {% endif %}
                                     </span></td>
                                <td><div class="progress"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ progressNego }}%" aria-valuenow="{{ progressNego }}" aria-valuemin="0" aria-valuemax="100"></div></div></td>
                                <td><a href="{{ path('negociation', {'id':id}) }}"
                                        class="badge badge-info"> Voir
                                     </a>
                                </td>
                                {% if admin %}
                                    {% if subjectView.dateFin > now %}
                                        <td><a href="{{ path('generation', {'id':id}) }}"
                                               class="badge badge-warning"> Modifier
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            </tr>

                          {# FIN DE LA VUE DE LA PHASE DE NEGOTIATION#}

                        </tbody>
                    </table>

                   {# FIN POUR LA VUE DES PHASES SI DEFINIES #}

                    {# SI LES PHASES NE SONT PAS DEFINIES #}
                    {% else %}

                        <br/>
                        <a href ="{{ path('gdss_platform_add_phase', {'id' : id}) }}" ><button type="button" class="btn btn-warning">Définir les phases</button></a>

                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="decideurs">
                <br/>
                {% if defined %}
                {% if admin %}
                        <a href ="#" class="send-invitation" data-toggle="modal" data-target="#send-invitation"><button type="button" class="btn btn-warning">Inviter des decideurs</button></a>
                {% endif %}
                <br/>
                <table class="table table-hover">
                    <thead>
                        <tr class="">
                            <th>Decideurs</th>
                            {% if admin %}
                                <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for decid in decideurs %}
                            <tr>
                                <td><i class="fas fa-user-alt"></i> {{ decid.pseudodecideurs }}</td>
                                {% if admin %}
                                    <td> <i class="fas fa-trash-alt" style="color:red;"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
                {% endif %}
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <br/><br/><br/>


{#  Modal content #}

    <div id="send-invitation" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Ajouter un decideur</h4>
                </div>

                {{ form_start(form) }}

                <div style="margin-top: 5px; font-size: large">
                    {{ form_label(form.Contact, "Liste des contacts") }}
                </div>

                <div>
                    {{ form_widget(form.Contact, {'attr': {'class': 'modal-body'}}) }}
                </div>


                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Fermer</button>

                  {{ form_widget(form.Inviter, {'attr': {'class': 'add-project'}}) }}
                </div>
                 {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gdssplatform/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/jQuery-plugin-progressbar.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".progress-bar1").loading();


            $('[data-toggle="offcanvas"]').click(function(){
                $("#navigation").toggleClass("hidden-xs");
            });
        });
    </script>

    {% for message in app.session.flashbag.get('info') %}
        <script type="text/javascript">
            alert("{{ message }}");
        </script>
    {% endfor %}
    {% if erreur is defined %}
        <script type="text/javascript">
            alert("{{ erreur }}");
        </script>
    {% endif %}
    {% if result %}
        <script type="text/javascript">
            alert("{{ result }}");
        </script>
    {% endif %}
{% endblock %}