{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/footers.css') }}" type="text/css">
{% endblock %}
{% block hedears %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FEB58A">
        <a class="navbar-brand" href="#">
            {#<img src="{{ asset('bundles/gdssplatform/images/GDSS - Copie.png') }}" width="60" height="35" alt="">#}
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block curentRecpetion %}{% endblock %}">
                    <a class="nav-link {% block curentInbox %}{% endblock %}"  href="{{ path('gdss_platform_inbox') }}">Boîte de réception</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% block curentProblem %}{% endblock %}" href="{{ path('problem_list') }}">Liste des problèmes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% block curentRepertoire %}{% endblock %}" href="{{ path('gdss_platform_repertoire') }}">Répertoire</a>
                </li>
            </ul>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="" style="color: black">
                        <button type="submit" class="btn btn-light" name="profil"><i class="fas fa-user"></i>  {{ app.user.username }}</button>
                    </a>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <button type="submit" class="btn btn-light" name="disconnect" style="color: #007bff">
                            Deconnexion <i class="fas fa-power-off"></i>
                        </button>
                    </a>
                </div>
        </div>
    </nav>
    <br/>

{% endblock %}

{% block body %}

{% endblock %}

{#
    {% block footers %}
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Videos</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                        <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
                    <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                    <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
#}
