{% extends '@GDSSPhases/phases_view/Negociation_ThinkLet/negocitation.html.twig' %}

{% block title %}RedLigthGreenLigth{% endblock %}

{% block customstyle %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/rating.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/chat2.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/morris.css') }}" type="text/css">
{% endblock %}

{% block content %}

    <div style="margin-right: 25%; margin-left: 5%">
        <h1 style="text-decoration-style: double; margin-left: -15%"><a href="{{ path('negociation', {'id' : id}) }}"><i class="fas fa-arrow-left"></i></a> RedLigthGreenLigth</h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#contributions">CONTRIBUTIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#multicriteriaresult">RESULTAT DU MULTICRITERIA</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="contributions">
                <br/>
                {% if admin %}
                    <form method="post" href="#">
                        <div class="form-group">
                            {% for ctcat in contribution %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck{{ ctcat.id }}" name="{{ ctcat.id }}" value="{{ ctcat.id }}">
                                    <label class="custom-control-label" for="customCheck{{ ctcat.id }}">
                                        <i class="outgoing_msg">
                                            <i {% if ctcat.color == "green" %}class="sent_msg_green" {% elseif ctcat.color == "red" %} class="sent_msg_red"{% elseif ctcat.color == "lightgreen" %} class="sent_msg_ligth_green"{% elseif ctcat.color == "yellow" %} class="sent_msg_yellow"{% elseif ctcat.color == "orange" %} class="sent_msg_orange"{% endif %} style="float: none">
                                                <p><span>{{ ctcat.pseudo }}<br/></span> {{ ctcat.contribution }} </p>
                                            </i>
                                        </i>
                                        {% set coll = false %}
                                        {% for cmt in comment %}
                                            {% if cmt.contribution == ctcat %}
                                                {% set coll = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if coll == true %}
                                            <a class="fas fa-plus-circle" data-toggle="collapse" href="#catego{{ ctcat.id }}" role="button" aria-expanded="false" aria-controls="like{{ ctcat.id }}"></a>
                                        {% endif %}

                                        <div class="collapse" id="catego{{ ctcat.id }}">
                                            {% for cmt in comment %}
                                                {% if cmt.contribution == ctcat %}
                                                    <div class="incoming_msg" style="margin-left: 50px">
                                                        <div class="received_msg">
                                                            <div class="received_withd_msg">
                                                                <p><span>{{ cmt.pseudo }}</span><br/>{{ cmt.comment }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <br/><br/>
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="form-inline">
                                <div class="col-sm-2">
                                    <select class="form-control" id="exampleFormControlSelect1" name="color">
                                        <option value="green">Vert</option>
                                        <option value="ligthgreen">Vert clair</option>
                                        <option value="yellow">Jaune</option>
                                        <option value="orange">Orange</option>
                                        <option value="red">Rouge</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input type="submit" value="Changer de couleur" class="btn btn-warning" name="Change" id="checkBtn">
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    {% for ct in contribution %}
                        <div style="margin-right: 20%; margin-left: 10%">
                            <div>
                                <i class="outgoing_msg">
                                    <i {% if ct.color == "green" %}class="sent_msg_green" {% elseif ct.color == "red" %} class="sent_msg_red"{% endif %} style="float: none">
                                        <p><span>{{ ct.pseudo }}<br/></span> {{ ct.contribution }} </p>
                                    </i>
                                </i>
                            </div>

                            {% set coll = false %}
                            {% for cmt in comment %}
                                {% if cmt.contribution == ct %}
                                    {% set coll = true %}
                                {% endif %}
                            {% endfor %}
                            {% if coll == true %}
                                <a class="fas fa-plus-circle" data-toggle="collapse" href="#noncatego{{ ct.id }}" role="button" aria-expanded="false" aria-controls="like{{ ct.id }}"></a>
                            {% endif %}

                            <div class="collapse" id="noncatego{{ ct.id }}">
                                {% for cmt in comment %}
                                    {% if cmt.contribution == ct %}
                                        <div class="incoming_msg" style="margin-left: 50px; margin-bottom: 8px">
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <p><span>{{ cmt.pseudo }}</span><br/>{{ cmt.comment }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <br/><br/>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="multicriteriaresult">
                <canvas id="myChart"></canvas>
            </div>


        </div>



        <br/><br/>

    </div>


{% endblock %}

{% block customscrpits %}
    <script src="{{ asset('bundles/gdssphases/js/Chart.min.js') }}"></script>
    <script>

        $(document).ready(function () {
            $('#checkBtn').click(function() {
                checked = $("input[type=checkbox]:checked").length;

                if(!checked) {
                    alert("Aucune contribution sélectionnée ! ");
                    return false;
                }

            });
        });

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: [
                    {% for contrib in contributionchart %}
                    "{{ contrib.contribution }}",
                    {% endfor %}
                ],
                datasets: [{
                    label: "Proposition vote",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% for contrib in contributionchart %}
                        {{ contrib.liked }},
                        {% endfor %}
                    ],
                }, {
                    label: "Accord (%)",
                    backgroundColor: 'rgb(80, 120, 132)',
                    data: [
                        {% for agree in agrement %}
                            {{ agree }},
                        {% endfor %}
                    ],

                }

                ]
            },

            // Configuration options go here
            options: {
                legend: {
                    display: true,
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                }
            }
        });


    </script>
{% endblock %}