{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}
{% block title %}Repertoire{% endblock %}
{% block curentRepertoire %}active{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/Repertoire.css') }}" type="text/css">
{% endblock %}

{% block body %}

    <div class="container">
        <p class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">Ajouter un decideur</a></p>

        <div id="add_project" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header login-header">
                        <button type="button" class="close" data-dismiss="modal">X</button>
                        <h4 class="modal-title">Ajouter un decideur</h4>
                    </div>
                    {{ form_start(form) }}

                        <div style="margin-top: 5px; font-size: large">
                            {{ form_label(form.Pseudo) }}
                        </div>

                        <div style="margin-left: 5px; margin-right: 5px">
                            {{ form_widget(form.Pseudo, {'attr': {'class': 'modal-body'}}) }}
                        </div>

                    <div class="modal-footer">
                        <button type="button" class="cancel" data-dismiss="modal">Fermer</button>
                        {{ form_widget(form.Ajouter, {'attr': {'class': 'add-project'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div>



        <br/>

        <h3>Liste des contacts</h3>
        <div class="row">
            {% for contact in listcontact %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                    <div class="contact-block">
                        <div class="contact-content">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="dish-img"><a href="#"><img src="{{ asset('bundles/gdssplatform/icons/users_icon.svg') }}" alt="" class="img-circle"></a></div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5>{{ contact.User }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                Pas de contact !
            {% endfor %}
         </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gdssplatform/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="offcanvas"]').click(function(){
                $("#navigation").toggleClass("hidden-xs");
            });

            {% if error %}
                alert("{{ error }}");
            {% endif %}

            {% if success %}
                alert("{{ success }}");
            {% endif %}
        });
    </script>
{% endblock %}