{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}

{% block title %}Modifications des phases{% endblock %}
{% block curentSujet %}active{% endblock %}

{% block body %}
    <div class="container">
        <h1 style="text-align: center">Modifications des phases</h1>
        <hr>
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <h3>Phase de comprehension collective du probème</h3>
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.DateDebut1, "Date de debut", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.DateDebut1) }}
                <div class="col-sm-10">
                    {{ form_widget(form.DateDebut1) }}
                </div>
            </div>
            {# Idem pour un autre champ. #}
            <div class="form-group">
                {{ form_label(form.Duree1, "Durée", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.Duree1) }}
                <div class="row" style="margin-left: 0px">
                    <div class="col-sm-1 col">
                        {{ form_widget(form.Duree1) }}
                    </div>
                    <div class="col-sm-2 col">
                        {{ form_widget(form.Periode1) }}
                    </div>
                </div>
            </div>

            <br/>

            <h3>Phase de génération</h3>
            <div class="form-group">
                {{ form_label(form.DateDebut2, "Date de debut", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.DateDebut2) }}
                <div class="col-sm-10">
                    {{ form_widget(form.DateDebut2) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.Duree2, "Durée", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.Duree2) }}
                <div class="row" style="margin-left: 0px">
                    <div class="col-sm-1 col">
                        {{ form_widget(form.Duree2) }}
                    </div>
                    <div class="col-sm-2 col">
                        {{ form_widget(form.Periode2) }}
                    </div>
                </div>
            </div>
            <br/>

            <h3>Phase de négociation</h3>
            <div class="form-group">
                {{ form_label(form.DateDebut3, "Date de debut", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.DateDebut3) }}
                <div class="col-sm-10">
                    {{ form_widget(form.DateDebut3) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.Duree3, "Durée", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.Duree3) }}
                <div class="row" style="margin-left: 0px">
                    <div class="col-sm-1 col">
                        {{ form_widget(form.Duree3) }}
                    </div>
                    <div class="col-sm-2 col">
                        {{ form_widget(form.Periode3) }}
                    </div>
                </div>
            </div>

            <br/>

            <h3>Prise de decision</h3>
            <div class="form-group">
                {{ form_label(form.DateDecision, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.DateDecision) }}
                <div class="col-sm-10">
                    {{ form_widget(form.DateDecision) }}
                </div>
            </div>

            <br/>
            {{ form_widget(form.Terminer, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% if erreur is defined %}
        <script type="text/javascript">
            alert("{{ erreur }}");
        </script>
    {% endif %}
{% endblock %}