{% if chat %}
    {% for ct in chat %}
        {#--------------------------------------------------------CONTRIBUTION RECU-----------------------------------------------------------------------------------------------------#}
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <div class="comment-box">
                            <div class="comment-head">
                                <h6 class="comment-name by-author">Proposition {{ ct.numero }}</h6>
                            </div>
                            <div class="comment-content">
                                <p>{{ ct.contribution }}</p>
                            </div>
                        </div>
                    </div>
                    {% if definied %}
                        {#--------------------------------------------------------COMMENTAIRE DE NIVEAU 1--------------------------------------------------------------------------#}
                        <ul class="timeline">
                            <li>
                                <a class="fa collapsed" data-toggle="collapse" href="#like{{ ct.id }}" role="button" aria-expanded="false" aria-controls="like{{ ct.id }}" style="margin-left: 30px">

                                </a>
                                <div class="collapse" id="like{{ ct.id }}">
                                    <div class="card card-body">
                                        <form method="post" action="#" onsubmit="addcomment({{ ct.id }}, document.getElementById('argument{{ ct.id }}').value, 'ContribReply'); return false">
                                            <div class="form-group">
                                                <label for="argument{{ ct.id }}">Argument</label>
                                                <textarea class="form-control" id="argument{{ ct.id }}" rows="2" required></textarea>
                                                <br/>
                                                <button type="submit" class="btn btn-primary">Ajouter</button>
                                            </div>
                                        </form>
                                        {% for reply in contribreply %}
                                            {% if reply.contribution == ct %}
                                                <ul class="comments-list reply-list">
                                                    <li>
                                                        <!-- Contenedor del Comentario -->
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                <h6 class="comment-name by-author">{{ reply.pseudo }}</h6>
                                                            </div>
                                                            <div class="comment-content">
                                                                {{ reply.comment }}
                                                            </div>
                                                        </div>
                                                        {#------------------------------------------------------COMMENTAIRE NIVEAU 2---------------------------------------------#}

                                                        <ul class="timeline">
                                                            <li>
                                                                <a class="fa collapsed" data-toggle="collapse" href="#commentreply{{ reply.id }}" role="button" aria-expanded="false" aria-controls="commentreply{{ reply.id }}" style="margin-left: 30px">

                                                                </a>
                                                                <div class="collapse" id="commentreply{{ reply.id }}">
                                                                    <div class="card card-body">
                                                                        <form method="post" action="#" onsubmit="addcomment({{ reply.id }}, document.getElementById('reply{{ reply.id }}').value, 'CommentReply'); return false">
                                                                            <div class="form-group">
                                                                                <label for="reply{{ reply.id }}">Argument</label>
                                                                                <textarea class="form-control" id="reply{{ reply.id }}" rows="2" required></textarea>
                                                                                <br/>
                                                                                <button type="submit" class="btn btn-primary">Ajouter</button>
                                                                            </div>
                                                                        </form>
                                                                        {% for ctreply in commentreply %}
                                                                            {% if ctreply.comment == reply %}
                                                                                <ul class="comments-list reply-list">
                                                                                    <li>
                                                                                        <!-- Contenedor del Comentario -->
                                                                                        <div class="comment-box" style="width: 100%;">
                                                                                            <div class="comment-head">
                                                                                                <h6 class="comment-name by-author">{{ ctreply.pseudo }}</h6>
                                                                                            </div>
                                                                                            <div class="comment-content">
                                                                                                {{ ctreply.reply }}
                                                                                            </div>
                                                                                        </div>
                                                                                    </li>
                                                                                </ul>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>

                                                        {#------------------------------------------------------FIN COMMENTAIRE NIVEAU 2-----------------------------------------#}
                                                    </li>
                                                </ul>

                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>

                        </ul>

                        {#-----------------------------------------------------FIN COMMENTAIRE NIVEAU 1------------------------------------------------------------#}
                    {% endif %}
                </li>
            </ul>




    {% endfor %}
{% endif %}

<script>
    function addcomment(ctid, argument, reaction) {

        $.ajax({
            url:"http://www.projetgdss.com/app_dev.php/commentreply/"+ctid,
            type:"POST",
            data: {reply : argument, reaction: reaction},
            dataType: 'JSON',
        })
    }

</script>