{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/footers.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/circle_progress_bar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/send_invitation.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/fontawesome/css/all.css') }}" type="text/css">

{% endblock %}

{% block title %}{{ problem.name }}{% endblock %}
{% block curentSujet %}active{% endblock %}
{% block body %}
    <div class="container main" id="page">

        {% set start = true %}
        {% set end = false %}

        {#---------------------------------------------------------------PROBLEM INFORMTION----------------------------------------------------------------------#}

        <div style="border: 1px solid ; border-radius: 10px; background-color: white; min-height: 375px">
            <div style="margin: 10px">

                <div class="row">
                    <h2 class="col-sm-11">{{ problem.name }}   {% if problem.dateend < now %}
                            <span class="badge badge-success">Terminer</span>
                            {% set end = true %}
                        {% elseif problem.datestart < now  %}
                            <span class="badge badge-primary">En cours</span>
                        {% else %}
                            {% set start = false %}
                            <span class="badge badge-warning">Attente</span>
                        {% endif %}
                    </h2>
                    {% if admin %}
                        <h2><a class="col-sm-1" href="{{ path('add_edit_problem', {'id' : problem.id, 'action' : "edit"}) }}"><i class="fas fa-edit"></i></a></h2>
                    {% endif %}
                </div>


                <hr/>
                <h4>But : {{ problem.goal }}</h4>
                <br/>
                <h4>Contexte :</h4>
                <div class="progress-bar1" data-percent="{{ progress }}" data-duration="1000" data-color="#ced4da,#049dff" style="float: right; margin-right: 250px; margin-top: -40px"></div>
                <p style="margin-right: 400px ">{{ problem.context }}</p>


                <br/>
                <h4>Critères
                    {% if admin %}
                        {% if problem.dateend > now %}
                            <a class="col-sm-1" href="{{ path('add_criteria', {'id' : id, 'action' : "edit"}) }}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                    {% endif %}
                </h4>
                {% for list in criteria %}
                    <h6 style="margin-left: 10px;">
                        <img style="width: 24px" src="{{ asset('bundles/gdssplatform/icons/ic_my_location_24px.svg') }}"> {{ list.description }}
                    </h6>
                {% endfor %}

                {% if constraints %}
                    <br/>
                    <h4>Contrainte :</h4>
                    {% for list1 in constraints %}
                        <h6 style="margin-left: 10px;">
                            <img style="width: 24px" src="{{ asset('bundles/gdssplatform/icons/ic_my_location_24px.svg') }}"> {{ list1 }}
                        </h6>
                    {% endfor %}
                {% endif %}
                <br/>

            </div>


        </div>

        {# FIN DE DES INFORMATIONS#}

        <br/><br/>

        {# NAVIGATION TOGGLE #}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#phase">PHASES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#decideurs">DECIDEURS</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="phase">
                <br/>
                <div>

                    {# AFFICHAGE DES PHASES SI LE PROCESSUS EST DEFINIES #}

                    {% if definedprocess %}
                        <table class="table table-hover">
                            <thead>
                            <tr class="">
                                <th>Nom</th>
                                <th>Durée</th>
                                <th>Date de début</th>
                                <th>Statut</th>
                                <th>Progression</th>
                                <th></th>
                                {% if problem.dateend > now %}
                                    <th></th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>

                                {% include '@GDSSPlatform/Problem/comprehension.html.twig' %}

                                {% include '@GDSSPlatform/Problem/generation.html.twig' %}

                                {% include '@GDSSPlatform/Problem/negociation.html.twig' %}

                                {% include '@GDSSPlatform/Problem/decision.html.twig' %}

                            </tbody>
                        </table>

                        {# FIN POUR LA VUE DES PHASES SI DEFINIES #}

                        {# SI LES PHASES NE SONT PAS DEFINIES #}
                    {% else %}

                        <a href ="{{ path('add_process', {'id' : id}) }}" ><button type="button" class="btn btn-warning">Définir le processus</button></a>

                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="decideurs">
                <br/>
                {% if definedprocess %}
                    {% if admin %}
                        <a href ="#" class="send-invitation" data-toggle="modal" data-target="#send-invitation"><button type="button" class="btn btn-warning">Inviter des decideurs</button></a>
                    {% endif %}
                    <br/>
                    <table class="table table-hover">
                        <thead>
                        <tr class="">
                            <th>Decideurs</th>
                            {% if admin %}
                                <th></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for mak in makers %}
                            <tr>
                                <td><i class="fas fa-user-alt"></i> {{ mak.pseudoMaker }}</td>
                                {% if admin %}
                                    <td> <i class="fas fa-trash-alt" style="color:red;"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                {% endif %}
                <br/>
                <br/>
            </div>
        </div>
    </div>


    <br/><br/><br/>


    {#  Modal content #}

    <div id="send-invitation" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">X</button>
                    <h4 class="modal-title">Ajouter un decideur</h4>
                </div>

                {{ form_start(form) }}

                <div style="margin-top: 5px; font-size: large">
                    {{ form_label(form.Contact, "Liste des contacts") }}
                </div>

                <div>
                    {{ form_widget(form.Contact, {'attr': {'class': 'modal-body'}}) }}
                </div>


                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Fermer</button>

                    {{ form_widget(form.Inviter, {'attr': {'class': 'add-project'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gdssplatform/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/gdssplatform/js/jQuery-plugin-progressbar.js') }}"></script>
    <script src="{{ asset('bundles/gdssphases/js/scroll-sneak.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            let id = {{ id }}
            $(".progress-bar1").loading();


            $('[data-toggle="offcanvas"]').click(function(){
                $("#navigation").toggleClass("hidden-xs");
            });

            setInterval(function () {
                $(".main").load(Routing.generate('Scprit_Problem_view', {'id' : id}), function () {
                    let sneaky = new ScrollSneak(location.hostname);
                    document.getElementById('page').onload = sneaky.sneak;
                });
            }, 30000);





        });
    </script>

    {% if erreur is defined %}
        <script type="text/javascript">
            alert("{{ erreur }}");
        </script>
    {% endif %}
    {% if result %}
        <script type="text/javascript">
            alert("{{ result }}");
        </script>
    {% endif %}
    {% if error != '' %}
        <script type="text/javascript">
            alert("{{ error }}");
        </script>
    {% endif %}
{% endblock %}