{% for ct in contributionselect %}

    <ul id="comments-list" class="comments-list" style="margin-left: 20px">
        <li>
            <div class="comment-main-level">
                <div class="comment-box">
                    <div class="comment-head">
                        <h6 class="comment-name by-author">{{ ct.pseudo }}</h6>
                    </div>
                    <div class="comment-content">
                        <p>{{ ct.contribution }}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    {% set coll = false %}
    {% for cmt in comment %}
        {% if cmt.contribution == ct %}
            {% set coll = true %}
        {% endif %}
    {% endfor %}
    {% if coll == true %}
        <a class="fa" style="margin-left: 20px" data-toggle="collapse" href="#list{{ ct.id }}" role="button" aria-expanded="false" aria-controls="list{{ ct.id }}"></a>
    {% endif %}

    <div class="collapse" id="list{{ ct.id }}">
        <ul class="timeline">
            {% for cmt in comment %}
                {% if cmt.contribution == ct %}
                    <li>
                        <ul class="comments-list reply-list">
                            <li>
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name by-author">{{ cmt.pseudo }}</h6>
                                    </div>
                                    <div class="comment-content">
                                        {{ cmt.comment }}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <br/><br/>
{% endfor %}