{% extends '@GDSSPlatform/CreateProblem/addproblem.html.twig' %}
{% block title %}Contraintes{% endblock %}
{% block curentProblem %}active{% endblock %}


{% block active0 %}disabled{% endblock %}
{% block active1 %}active{% endblock %}

{% block modiftext %} Défintion des contraintes{% endblock %}

{% block help %}
    <p class="text-center">Définissez les contraintes, le choix aura un impact sur les fonctionnalités proposées lors de la reunion de prise de décison. </p>
{% endblock %}

{% block contenu %}

    <div style="text-align: center">
        <h2>Définition des contraintes</h2>
    </div>
    <br/>

    <div class="container">
        <div class="" style="margin-left: 45px">

            <div class="card border-secondary" style="width: 100%;">
                <div class="card-header">Contraintes</div>
                <div class="card-body">


                    <div>
                        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'id':'form_criteria'}}) }}

                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.description, "Option", {'label_attr': {'class': 'control-label'}}) }}

                                {{ form_errors(form.description) }}
                                <div class="">
                                    {{ form_widget(form.description)}}
                                </div>
                            </div>
                            {{ form_widget(form.Suivant) }}


                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <br/>


    </div>



    <br/>
    <br/>
{% endblock %}

