{% extends '@GDSSPlatform/CreateProblem/addproblem.html.twig' %}
{% block title %}Contraites et critères{% endblock %}
{% block curentSujet %}active{% endblock %}


{% block active0 %}disabled{% endblock %}
{% block active1 %}active{% endblock %}

{% block modiftext %} Édition - Critère & Contrainte{% endblock %}

{% block help %}
    <p class="text-center">Définissez les critères et contraintes que doivent respecter les décideurs.</p>
    {% if action == "create" %}
        <p class="text-center">Ils sont optionnels vous pouvez les ignorer en cliquant sur suivant.</p>
    {% elseif action == "edit" %}
        <p class="text-center">Ils sont optionnels vous pouvez les ignorer</p>
    {% endif %}
{% endblock %}

{% block contenu %}

    <br/>
    <br/>
    <div class="form-inline" style="margin-left: 45px">

        <div class="card border-secondary mb-2" style="width: 49%;">
            <div class="card-header">Critères</div>
            <div class="card-body">
                <div class="critere_list">

                    <table class="">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for list in criterelist %}
                                <tr>
                                    <td>
                                        <img style="width: 24px" src="{{ asset('bundles/gdssplatform/icons/ic_my_location_24px.svg') }}">{{  list.description }}
                                    </td>
                                    <td>
                                        <a href="#" onclick="deletecritere( {{ list.id }} )">
                                            <i class="fas fa-trash-alt" style="color: red"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                        </tbody>

                    </table>

                    <br/>
                </div>

                <div>
                    {{ form_start(formCritere, {'attr': {'class': 'form-horizontal', 'id':'form_critere'}}) }}
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(formCritere.description, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                        {{ form_errors(formCritere.description) }}
                        <div class="col-sm-10">
                            {{ form_widget(formCritere.description)}}
                        </div>
                    </div>
                    {{ form_widget(formCritere.Ajouter) }}
                    {{ form_end(formCritere) }}
                </div>
            </div>
        </div>
        <div style="width: 5px"></div>
        <div class="card border-secondary mb-2" style="width: 49%;">
            <div class="card-header">Contraintes</div>
            <div class="card-body">

                <div class="contraintes_list">

                    <table class="">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for list1 in contraintelist %}
                            <tr>
                                <td>
                                    <img style="width: 24px" src="{{ asset('bundles/gdssplatform/icons/ic_my_location_24px.svg') }}">{{  list1.description }}
                                </td>
                                <td>
                                    <a href="#" onclick="deletecontrainte( {{ list1.id }} )">
                                        <i class="fas fa-trash-alt" style="color: red"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                    <br/>
                </div>

                <div>
                    {{ form_start(formContrainte, {'attr': {'class': 'form-horizontal', 'id':'form_contrainte'}}) }}
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(formContrainte.description, "Description", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(formContrainte.description) }}
                        <div class="col-sm-10">
                            {{ form_widget(formContrainte.description)}}
                        </div>
                    </div>
                    {{ form_widget(formContrainte.Ajouter) }}
                    {{ form_end(formContrainte) }}
                </div>
            </div>
        </div>
    </div>
    <br/>

    {% if action == "create" %}

        <a href ="{{ path('add_process', {'id':id}) }}" >
            <button type="submit" class="btn linkstyle" style="color: white">
                Suivant
            </button>
        </a>

    {% endif %}

    <br/>
    <br/>
{% endblock %}

{% block customScrpit %}
    <script>
        var id = {{ id }}

            $('#form_critere').on('submit', function (event) {
                event.preventDefault();
                var form_data = document.getElementById('gdss_platformbundle_criteres_description').value;
                $.ajax({
                    url:"http://www.projetgdss.com/app_dev.php/add_critere/"+id,
                    type:"POST",
                    data: {description : form_data},
                    dataType: 'JSON',
                    success:function (data) {

                    }
                });

                setTimeout(function () {
                    $(".critere_list").load('http://www.projetgdss.com/app_dev.php/critere_list/' +id);
                }, 2000);
                document.getElementById('gdss_platformbundle_criteres_description').value = null;
                element.scrollTop = element.scrollHeight;
            });


            function deletecritere(critereid){

                $.ajax({
                    url:"http://www.projetgdss.com/app_dev.php/delete_critere/AehfeelSpomefjevAmpzd4100LpmHFAVWJopslap"+critereid+"zz500Pmzdz504",
                    type:"POST",
                    data: {critereid : critereid},
                    dataType: 'JSON',
                });
                setTimeout(function () {
                    $(".critere_list").load('http://www.projetgdss.com/app_dev.php/critere_list/' +id);
                }, 2000);

                element.scrollTop = element.scrollHeight;
            }




        $('#form_contrainte').on('submit', function (event) {
            event.preventDefault();
            var form_data2 = document.getElementById('gdss_platformbundle_contraintes_description').value;
            $.ajax({
                url:"http://www.projetgdss.com/app_dev.php/add_contrainte/"+id,
                type:"POST",
                data: {description : form_data2},
                dataType: 'JSON',
                success:function (data) {

                }
            });

            setTimeout(function () {
                $(".contraintes_list").load('http://www.projetgdss.com/app_dev.php/contrainte_list/' +id);
            }, 2000);

            document.getElementById('gdss_platformbundle_contraintes_description').value = null;
            element.scrollTop = element.scrollHeight;
        });


        function deletecontrainte($contrainteid){

            $.ajax({
                url:"http://www.projetgdss.com/app_dev.php/delete_contrainte/AehfeelSpomefjevAmpzd4100LpmHFAVWJopslap"+$contrainteid+"zz500Pmzdz504",
                type:"POST",
                data: {$contrainteid : $contrainteid},
                dataType: 'JSON',
            });
            setTimeout(function () {
                $(".contraintes_list").load('http://www.projetgdss.com/app_dev.php/contrainte_list/' +id);
            }, 2000);

            element.scrollTop = element.scrollHeight;
        }



    </script>
{% endblock %}

