{% extends '@GDSSPlatform/CreateProblem/addproblem.html.twig' %}
{% block title %}Definition des phases{% endblock %}



{% block contenu_title %}
    <h2 style="text-align: center">Definition des phases</h2>
{% endblock %}

{% block active0 %}disabled{% endblock %}
{% block active3 %}active{% endblock %}

{% block help %}
    <p class="container">
        Date de debut du sujet : {{ sujet.dateDebut|date('d/m/y h:i') }}
        Date de fin du sujet : {{ sujet.dateFin|date('d/m/y h:i') }}
    </p>
    <p class="container"><strong>La phase de compréhension collective du problème</strong> peut être considérée comme le prolongement de la phase de préparation. En effet, elle consiste à partager une vision commune du problème avec tous les participants et à trouver un accord sur la façon de procéder dans la mise en œuvre du processus conçu.</p>
    <p class="container"><strong>La phase de génération des solutions</strong> est le début du traitement et elle consiste à produire des idées alternatives pour résoudre le problème posé. Des patterns de collaboration, spécifiquement ceux de génération, sont utilisés au cours de cette phase afin d’aider les participants à réaliser un certain nombre de tâches. Les patterns seront suggérés en fonction de certains paramètres.</p>
    <p class="container"><strong>La phase de négociation</strong> vient après cela de génération pour permettre aux participants d’élaborer leurs contributions en les argumentant en vue de susciter l’adhésion du plus grand nombre. Des patterns de collaboration existent pour cette étape et seront recommandés par inférence comme à la phase de génération.</p>
    <p class="container"><strong>La phase de décision</strong> survient après la phase de négociation et de confrontation des solutions. Elle consiste à sélectionner, eu égard aux critères précédemment définis, les idées qui auront reçu le maximum d’adhésions, ou qui auront fait le consensus au sein du groupe. Des patterns de collaboration existent pour cette étape et seront recommandés par inférence comme à la phase de génération.</p>
{% endblock %}

{% block contenu %}
    <div class="container">
        <div style="">
            <br/>
            <br/>
            <br/>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Comprehension collective du problème</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ form_label(form.DateDebut1, "Date de début", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.DateDebut1) }}
                                <div class="col-sm-7">
                                    {{ form_widget(form.DateDebut1, { 'attr': {'data-field': 'datetime'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.Duree1min, "Durée minimale", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.Duree1min) }}
                                <div class="row" style="margin-left: 0px">
                                    <div class="col-sm-3 col">
                                        {{ form_widget(form.Duree1min) }}
                                    </div>
                                    <div class="col-sm-4 col">
                                        {{ form_widget(form.Periode1min) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.Duree1max, "Durée maximale", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.Duree1max) }}
                                <div class="row" style="margin-left: 0px">
                                    <div class="col-sm-3 col">
                                        {{ form_widget(form.Duree1max) }}
                                    </div>
                                    <div class="col-sm-4 col">
                                        {{ form_widget(form.Periode1max) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Génération</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ form_label(form.DateDebut2, "Date de début", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.DateDebut2) }}
                                <div class="col-sm-7">
                                    {{ form_widget(form.DateDebut2, { 'attr': {'data-field': 'datetime'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.Duree2min, "Durée minimale", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.Duree2min) }}
                                <div class="row" style="margin-left: 0px">
                                    <div class="col-sm-3 col">
                                        {{ form_widget(form.Duree2min) }}
                                    </div>
                                    <div class="col-sm-4 col">
                                        {{ form_widget(form.Periode2min) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.Duree2max, "Durée maximale", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.Duree2max) }}
                                <div class="row" style="margin-left: 0px">
                                    <div class="col-sm-3 col">
                                        {{ form_widget(form.Duree2max) }}
                                    </div>
                                    <div class="col-sm-4 col">
                                        {{ form_widget(form.Periode2max) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/><br/>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Négociation</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ form_label(form.DateDebut3, "Date de début", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.DateDebut3) }}
                                <div class="col-sm-7">
                                    {{ form_widget(form.DateDebut3, { 'attr': {'data-field': 'datetime'} }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.Duree3min, "Durée minimale", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.Duree3min) }}
                                <div class="row" style="margin-left: 0px">
                                    <div class="col-sm-3 col">
                                        {{ form_widget(form.Duree3min) }}
                                    </div>
                                    <div class="col-sm-4 col">
                                        {{ form_widget(form.Periode3min) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.Duree3max, "Durée maximale", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.Duree3max) }}
                                <div class="row" style="margin-left: 0px">
                                    <div class="col-sm-3 col">
                                        {{ form_widget(form.Duree3max) }}
                                    </div>
                                    <div class="col-sm-4 col">
                                        {{ form_widget(form.Periode3max) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Prise de décision</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                {{ form_label(form.DateDecision, "Date", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                {{ form_errors(form.DateDecision) }}
                                <div class="col-sm-6">
                                    {{ form_widget(form.DateDecision, { 'attr': {'data-field': 'datetime'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        {{ form_widget(form.Terminer, {'attr': {'class': 'btn linkstyle'}}) }}
        <span id="affiche"></span>
        {{ form_end(form) }}
        <br/><br/>
    </div>


    <div id="dtBox"></div>

{% endblock %}


{% block customScrpit %}
    <script type="text/javascript">
        $(function() {
            $("#dtBox").DateTimePicker();

            {% if erreur is defined %}
            alert("{{ erreur }}");
            {% endif %}
        });
    </script>
{% endblock %}