{% extends '@GDSSPlatform/layoutGDSS.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssplatform/css/general.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/comment.css') }}" type="text/css">
{% endblock %}

{% block title %}FreeBrainstorming{% endblock %}
{% block curentSujet %}active{% endblock %}

{% block body %}
    <br/>
    <div class="row">
    <div class="container" style="margin-left: 250px">
        {% if finish %}
            {% for contrib in contribution %}
                    <br/>
                    <ul id="comments-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <!-- Contenedor del Comentario -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name by-author">{{ contrib.Pseudo }}</h6>
                                    </div>
                                    <div class="comment-content">
                                        {{ contrib.contribution }}
                                    </div>
                                </div>
                            </div>

                            <div class="divcomment{{ contrib.id }}">
                                {% if comment %}
                                    {% for cmt in comment %}
                                        {% if cmt.contribution == contrib %}
                                            <ul class="comments-list reply-list">
                                                <li>
                                                    <!-- Contenedor del Comentario -->
                                                    <div class="comment-box">
                                                        <div class="comment-head-reply">
                                                            <h6 class="comment-name by-author">{{ cmt.pseudo }}</h6>
                                                        </div>
                                                        <div class="comment-content">
                                                            {{ cmt.comment }}
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- Fin boucle secondaire -->
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <!------------------------------------>
                        </li>
                    </ul>

            {% endfor %}
            <a href="{{ path('gdss_platform_sujet_vue', {'id':id}) }}"><button type="button" class="btn btn-outline-primary" id="stop">Retour</button></a>
        {% else %}
            {% if admin == false %}
                <a href="{{ path('freebrainstorming_contribution', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">Contribuer</button></a>
                <a href="{{ path('freebrainstorming_comment', {'id': id }) }}"><button type="button" class="btn btn-outline-primary">Commenter</button></a>
            {% endif %}
            <a href="{{ path('gdss_platform_sujet_vue', {'id':id}) }}"><button type="button" class="btn btn-outline-primary" id="stop">Retour</button></a>
        {% endif %}
    </div>
    </div>
{% endblock %}