{% extends '@GDSSPhases/phases_view/Negociation_ThinkLet/negocitation.html.twig' %}

{% block title %}BroomWagon - Sélection{% endblock %}

{% block content %}
    <div style="margin-right: 25%; margin-left: 5%">
        <h1 style="text-decoration-style: double; margin-left: -15%"><a href="{{ path('BroomWagon', {'id' : id}) }}"><i class="fas fa-arrow-left"></i></a> BROOMWAGON - Sélection</h1>
        <p>Vous devez choisir {{ pourcentage }}% parmis les contributions soit {{ selection }} propositions</p>
        <br/>
        <form method="post" href="#">
            <div class="form-group">
                {% for ct in contribution %}
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck{{ ct.id }}" name="{{ ct.id }}" value="{{ ct.id }}">
                    <label class="custom-control-label" for="customCheck{{ ct.id }}">
                        <i class="outgoing_msg">
                            <i class="sent_msg" style="float: none">
                                <p><span>{{ ct.pseudo }}<br/></span> {{ ct.contribution }} </p>
                            </i>
                        </i>
                        {% set coll = false %}
                        {% for cmt in comment %}
                            {% if cmt.contribution == ct %}
                                {% set coll = true %}
                            {% endif %}
                        {% endfor %}
                        {% if coll == true %}
                            <a class="fas fa-plus-circle" data-toggle="collapse" href="#noncatego{{ ct.id }}" role="button" aria-expanded="false" aria-controls="like{{ ct.id }}"></a>
                        {% endif %}

                        <div class="collapse" id="noncatego{{ ct.id }}">
                            {% for cmt in comment %}
                                {% if cmt.contribution == ct %}
                                    <i class="incoming_msg" style="margin-left: 50px">
                                        <i class="received_msg">
                                            <i class="received_withd_msg">
                                                <p><span>{{ cmt.pseudo }}</span><br/>{{ cmt.comment }}</p>
                                            </i>
                                        </i>
                                    </i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <br/><br/>
                    </label>
                </div>
                {% endfor %}
                <div class="form-inline">
                    <div class="col-sm-11">
                        <input type="submit" value="Valider" class="btn btn-outline-primary">
                    </div>

                </div>
            </div>
        </form>

        <br/><br/>

    </div>
{% endblock %}

{% block customstyle %}
    {% if error is defined %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}
{% endblock %}