{% extends '@GDSSPhases/phases_view/Negociation_ThinkLet/PopcornSort/popcornsort_layout.html.twig' %}

{% block title %}PopCornSort - Categorizer{% endblock %}

{% block subtitle %}
    <h1 class="text-center"><a href="{{ path('problem', {'id' : backid}) }}"><i class="fas fa-arrow-left"></i></a> Négociation : PopCornSort - Categorizer</h1>
{% endblock %}

{% block customstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gdssphases/css/jquery-ui.css') }}" type="text/css">
    {% if error is defined %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <style>
        .li_containers{
            width: 50%;
            float: left;
        }
        .listitems {
            width: 150px;
            height: 150px;
            padding: 0.5em;
            float: left;
            margin: 10px 10px 10px 0;
            border: 1px solid black;
            font-weight: normal;
        }

        .category_list{
            width:   46%;
            position: fixed;
            margin-left: 40%;
        }

        #droppable {
            width:   46%;
            height:  550px;
            padding: 0.5em;
            float: right;
            margin:  10px;
            cursor:  pointer;
        }
    </style>
    <div class="col-sm-9">
        <br/>
        <div class="li_containers">

            <h3>Contributions non catégorisées</h3>
            <hr/>
            {% for ct in contribution %}

                <div class="ui-widget-content listitems" data-itemid={{ ct.id }} >

                    <p><strong>{{ ct.pseudo }}</strong></p>

                    <hr />

                    <p>{{ ct.contribution }}</p>

                </div>

            {% endfor %}

        </div>

        <div id="droppable" class="ui-widget-header">



            <div class="ui-widget-content listitems" >

                <p><strong></strong></p>

                <hr />

                <p></p>

            </div>



        </div>

        <div class="category_list">
            <h3>Catégories</h3>
            <hr style="width: 70%"/>
            <h5>Topic 1</h5>
            <a class="fas" data-toggle="collapse" href="#cat" role="button" aria-expanded="false" aria-controls="like"></a>
            <div class="collapse" id="cat">
                <div id="droppable" class="ui-widget-header">
                    <div class="ui-widget-content listitems" >
                        <p><strong></strong></p>
                        <hr />
                        <p></p>
                    </div>
                </div>
            </div>
            <br/>
            <h5>Topic 2</h5>
        </div>
    </div>



{% endblock %}

{% block customscrpits %}
    <script src="{{ asset('bundles/gdssphases/js/jquery-ui.js') }}"></script>
    <script>
        $( ".listitems" ).draggable();
    </script>
{% endblock %}
